

* {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    font-size: 1.5vw;
  }


#border
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#game {
    display:flex;
    flex-basis: 800px;
    border: 5px dashed black;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F1F3EE;  /*
    background-color: #f0f1f3;

    text-align: center;
   
    justify-content: space-between;
    align-content: space-between;
    flex-flow: row wrap;*/
}
#aboveimages {
    text-align: center; 
    min-width: 0px;
    min-height: 0px;
    /*display:flex;*/
    /*width: 100%;
    flex: 1, 1, auto;*/
    /*margin: 0 auto;*/
}

#images {
    display: flex;
    justify-content:center;
    gap: 10%;
}


#score {
   justify-content: center;
   gap: 6%;
   display:flex;
   min-width: 0px;
   min-height: 0px;
}

#scorehl {
    font-weight: bold;
    margin-bottom: -2.5%;
}



#belowimages {
    text-align: center; 
    align-self: center;
    /*width: 100%;
    flex: 1, 1, auto;*/
    min-width: 0px;
    min-height: 0px;
    margin-bottom: 2%;
}



#text {
min-height: 3.8vw;
}

#divbuttons {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 2vh;
    border: 0px;
}

button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    background-color: #F1F3EE; 
    display: flex;
    justify-content: center; 
    align-items: center;
    border: 1px solid black;
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.icon {
    flex-shrink: 0;
    min-width: 120px;
    
}