

* {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    font-size: 2vw;
  }

  body {
    margin: 0;
  }
  

#game {
    background-color: #f0f1f3;
    border: 5px dashed black;
    text-align: center;
    display:flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: row wrap;
    flex: 1 1 0;
    margin: 20%;
}


#images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1, 1, 0;
    margin: 0% 20%;
    min-height: 0;
}
.image {
    flex: 1, 1, 0;
    width: 100%;
    height: auto;
    min-width: 0;
}

#aboveimages {
    text-align: center; 
    /*display:flex;*/
    width: 100%;
    flex: 1, 1, auto;
    /*margin: 0 auto;*/
}

#score {
   padding: 0 10px; 
   justify-content: space-around;
   display:flex;
   margin: auto 20%;
}

.scoreclass {
    flex: 1, 1, 0;
}

/*#you{
    align-items: left;
}

#npc {
    align-items: right;
}*/

#belowimages {
    text-align: center; 
    align-self: center;
    width: 100%;
    flex: 1, 1, auto;
}

#logo {
    height: 50%;
    width: 50%;
   /* position: relative;
    top: 20%;
    left: 20%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: display-inside;*/
}




