

* {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    font-size: 1.5vw;
  }


#border
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#game {
    display:flex;
    flex-basis: 800px;
    border: 5px dashed black;
    flex-direction: column;
    justify-content: space-between;  /*
    background-color: #f0f1f3;

    text-align: center;
   
    justify-content: space-between;
    align-content: space-between;
    flex-flow: row wrap;*/
}
#aboveimages {
    text-align: center; 
    min-width: 0px;
    min-height: 0px;
    /*display:flex;*/
    /*width: 100%;
    flex: 1, 1, auto;*/
    /*margin: 0 auto;*/
}

#images {
    display: flex;
    justify-content:center;
    gap: 10%;
}


.image {
    min-width: 0px;
    min-height: 0px;
}


#score {
   justify-content: center;
   gap: 6%;
   display:flex;
   min-width: 0px;
   min-height: 0px;
}

#scorehl {
    font-weight: bold;
    margin-bottom: -2.5%;
}


#belowimages {
    text-align: center; 
    align-self: center;
    /*width: 100%;
    flex: 1, 1, auto;*/
    min-width: 0px;
    min-height: 0px;
    margin-bottom: 2%;
}

#logo {
    min-width: 0px;
    min-height: 0px;
}

#divbuttons {
    display: flex;
    justify-content: center; 
}

button {
/*margin: 0;
padding: 0;
border: 0px;
  cursor: pointer;
  appearance: none;
  background-color: inherit;*/
  flex-basis: 30px;